* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.container-img {
    position: relative;
    /* CLAVE para que absolute funcione bien */
    width: 50%;
    /* o el tamaño que uses */
    height: auto;
}

.border {
    border: solid black;
    border-radius: 15px;
    width: 652px;
    height: 118px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon-button {
    width: 91px;
    height: 70px;
}

.stroke-pequeño {
    position: absolute;
    top: 80px;
    /* ajusta según necesidad */
    left: 30%;
    transform: translateX(-50%);
    width: 310px;
    height: 476px;
    z-index: 1;
}

/* Imagen principal encima */
.imagen {
    position: absolute;
    width: 480px;
    height: 628px;
    z-index: 2;
}

.starg {
    
}