*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #2F2F2F;
}

body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}
.img {
    width: 172px;
    height: 192px;
    display: flex;
    justify-content: center;
}

.imagenes {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas iguales */
    grid-template-rows: repeat(4); 
    width: 792px;
    height: 792px;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 582px;
    width: 449px;
}